html, body, .yelling, .rad{height: 100%;}

.yelling p,
.rad h3,
.dude,
.rad h3,
.rad .linkz a strong
{font-family: 'Bowlby One SC', Helvetica, sans-serif;}

.loading {background: #172226 url(../images/dark_canvas.jpg) no-repeat center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;  width: 100%; height: 100%; position: absolute; top:0; left: 0; z-index: 999; font-size: 50px;}
.loading  p{font-size: 36px; padding: 50px; color: #50736c;}

.loading .spinner {position: absolute; top:50%; left: 50%; margin: -15px 0 0 -25px; width: 50px; height: 30px; display: block; z-index: 9999; background: url(../images/pacman.gif) no-repeat top; padding-top: 30px; font-size: 12px; color: #ff0;}

body{background: #172226 url(../images/dark_canvas.jpg) no-repeat center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

a:focus{outline: none;}
.yelling{background: #ba0707 url(../images/texture.png); box-shadow: 0 0 200px rgba(0,0,0,0.5) inset}
.yelling p{font-size: 120px; margin: 0 auto; line-height: 120px; text-align: center;  color: #fff; text-shadow: 0 2px 1px rgba(115, 0, 0, 0.5);  letter-spacing: -2px; text-transform: uppercase;  vertical-align: middle; position: absolute; top:50%; left: auto; width: 100%; padding: 0; margin-top: -140px;  -moz-animation: 1s ease 0s normal none 1 bounce;}
.yelling em{font-size: 22px; opacity: 0.7; display: block; font-weight: normal; letter-spacing: 1px;}
.yelling strong{position: relative;}
.yelling strong:after{content:''; display: block;width: 100%; height: 20px; position: absolute; top:100%; margin-top: -20px; left: 0; background: #fff; box-shadow: 0 2px 1px rgba(115, 0, 0, 0.5); -webkit-transform: rotate(-2deg); -moz-transform: rotate(-2deg);}


.hide_stuff{position: absolute; top:100%; left: 0; width: 100%; overflow: hidden; height: 80px; margin-top: -80px;}
.dude{ border-radius: 9999px; position: absolute; top: 100%; left: 50%; margin: -60px 0 0 -100px; width: 200px; height: 200px; font-size: 22px; color: #fff; text-decoration: none; text-align: center; line-height: 30px; font-weight: 900; text-transform: uppercase; padding: 20px 0 0; box-shadow: inset 0 2px 1px rgba(0,0,0,.8); transition: opacity .5s ease-in-out; -moz-transition: opacity .5s ease-in-out; -webkit-transition: opacity .5s ease-in-out; background: #172226 url(../images/dark_canvas.jpg) no-repeat center fixed; border-bottom: 2px solid rgba(0,0,0,0.8)}
.dude em{display: block; width: 100%; text-align: center; top:18px; left: 0; font-style: italic; position: absolute; opacity: 0.5}
.dude:hover{color: #fff; text-decoration: none;}
.dude:hover em{opacity: 1;}

/* RAD */
.rad{position: relative;}
/*
.rad .hide_stuff{top:0; margin: 0;}
.rad .dude{background:rgba(0,0,0,0.4); color: #4e8679; top:0; margin-top: -160px; opacity: 1; width: 240px; margin-left: -120px;}
.rad .dude em{ top:174px;}
*/
.rad .dude {color: #666; background: rgba(0,0,0,0.5);}
.rad .dude:hover{color: #fff;}



.rad .container{padding-top: 100px;}
.rad h3{color: #95d7be; opacity: 0.5; font-size: 40px; line-height: 50px; text-transform: uppercase; font-weight: normal; padding: 0 0 48px;}
.rad h3 em{font-style: normal;}
.rad h3 em strong{font-weight: normal;}
.rad h3 em cite{font-size: 24px; opacity: 0.3; letter-spacing: 1px; margin-left: 10px;}

.rad p{color: #50736c; font-size: 16px; line-height: 24px;}

.rad .linkz a{display: block; color: #50736c; opacity: 0.6; transition: opacity .5s ease-in-out; -moz-transition: opacity .5s ease-in-out; -webkit-transition: opacity .5s ease-in-out; font-size: 18px; line-height: 24px; padding: 10px 10px 10px 30px; position: relative; border-radius: 3px; font-size: 18px; text-decoration: none;}
.rad .linkz a strong{color: #8eaca6; text-transform: uppercase; font-weight: normal; font-size: 24px; margin-right: 10px}

.rad .linkz a .caret{border-bottom-color: #fff; border-top-color: #fff;  -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); position: absolute; top:18px; left: 10px;}

.rad .linkz a:hover,
.rad .linkz a:hover strong{opacity: 1; color: #fff;}
.rad .linkz a:hover{background: rgba(0,0,0,0.1);}
.rad .linkz a:hover .caret{border-width: 6px;}

/* .rad .linkz a strong:before{} */

.chat {padding: 20px 0 0;}
.chat input,
.chat label{display: inline-block; padding: 5px; margin: 0; color: #50736c; font-size: 16px;}
.chat label{width: 60px;}

.chat p{clear: both;}

.chat input{border:none; background: rgba(0,0,0,0.1)}
.chat input:hover{background-color: rgba(0,0,0,0.15)}
.chat input:focus{background: rgba(0,0,0,0.2); color: #fff;}







/* this is relevant to the standards with bootstrap */

/* iphone */
@media (max-width: 480px) {

.yelling p {position: relative; margin: 0; top:auto; padding: 40px; width: auto;}
html body{padding: 0;}
.rad{padding: 0 20px;}
.rad .linkz a strong{font-size: 18px; display: block;}
.rad h3{display: none;}
}

/* ipad */
@media (max-width: 767px) {
	
	body{padding: 0 !important;}
	.rad{padding: 0 20px 50px;}
	.yelling p{font-size: 90px;}
	.yelling p strong:after{height: 12px;}	
	.contactz{box-shadow: 0 0 50px inset rgba(0,0,0,0.5); padding: 20px; background: rgba(0,0,0,0.2); }	

}

/* ipad up */
@media (min-width: 768px) and (max-width: 979px) {


}

/* up to big grid, smaller screen */
@media (max-width: 979px) {
	.rad h3 em cite{display: block;}
	.yelling p{font-size: 60px;line-height: 100px;}
	.yelling p strong:after{height: 15px; margin-top: -15px;}
}

/* big buggers */
@media (min-width: 980px) {
	.yelling p{font-size: 80px;}

}

/* hooj */
@media (min-width: 1200px) {
	.yelling p{font-size: 100px;}
}