/*

Wow this is old school, all plain CSS! :o

dark
232125

light
555459

links
009f70


*/

@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,600);
/* @import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i'); */


html {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
*, *:before, *:after {-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

body{font-family: 'Crimson Text', serif; color: #232125;}
a{text-decoration: none; color: #009f70}
a:hover,
a:focus{text-decoration: underline;}

strong{font-weight: 600;}

.btn{font-size: 21px; color: #009f70; position: relative; padding: 5px 20px; display: inline-block; margin-left: -20px;}
.btn i{position: absolute; top:9px; right: -10px;}
.btn:hover{color: #232125; text-decoration: underline;}
.btn:hover i{text-decoration: none;}

.btn-back{margin: 0 0 0 -20px;}
.btn-back i{right: auto; left: -10px;}

.btn-icon{padding-left: 40px; margin: 0;}
.btn-icon i{right: auto; left: 0px;}

.btn-next{float: right; margin-right: -20px; margin-left: 0;}

.btn-home{text-align: center; width: 24px; margin: 0 0 0 -12px; position: absolute; top:50px; left: 50%; padding: 5px 0;}
.btn-home i{right: 0;}

/* aside */
aside{width: 38.2%; background: #f4f4f3 no-repeat 50% 50%; background-size: cover; position: fixed; top:0; left: 0; bottom: 0;}
aside p{ position: absolute; bottom: 0; left: 0; right: 0; text-align: center; margin: 0;}
aside p a{font-size: 14px; display: inline-block; color: #ccc; padding: 13px 20px 15px; background: rgba(0,0,0,0.7); margin: 0 -2px; bottom: -5px; position: relative;}
aside p a:hover{background: rgba(225,27,27,0.8); text-decoration: none; bottom: 0;	}

aside p a i{font-size: 24px;}

aside .ss-smile{color: #efefed; font-size: 200px; position: absolute; top:30%; left: 0; display: block; width: 100%; text-align: center;}

/* the main event */
article{margin-left: 38.2%; padding: 50px 10%; border-bottom: 1px solid #eee; position: relative; background: #fff;}
article.alt{background: #f0f4f5}
article h2,
article h3,
article h4{font-size: 54px; line-height: 60px; font-weight: normal; margin: 0; padding: 36px 0 0;}
article h3{font-size: 28px; line-height: 32px; padding-bottom: 20px;}
article h4{font-size: 24px; line-height: 32px; max-width:550px;}
article p,
article dl,
article li{font-size: 21px; color: #555459; line-height: 24px; max-width: 600px;}
article li{padding-bottom: 5px;}

article h2{max-width: 500px;}


article nav{/* border:3px solid #e9ebeb; border-left: 0; border-right: 0; */ padding: 30px 20px 0px 30px; margin: 0 0 0 30px;}
article nav p{margin: 0 0 10px;}

article.fullheight{min-height: 100vh;}

@media (min-width: 1000px){
	article nav{margin-left: -30px; max-width: 500px;}
}


/*
article nav:before,
article nav:after{display:block; content: ''; background:#e9ebeb; height: 5px; max-width: 200px; margin: 20px 0;}
*/

article dt,
article dd{padding: 9px 0; position: relative;}
article dt{float: left; color: #aaa;}
article dd{padding-left: 40px; border-bottom: 2px solid #eee; margin-left: -1px;}

article dt i{position: absolute; top:13px; left: 0; font-size: 25px;}


article blockquote {margin: 0 -10% 30px;}
article blockquote p{font-size: 32px; line-height: 36px; font-style: italic; position: relative; text-align: center; max-width: none;}
article blockquote p .lquo{margin-right: 2px;}
article blockquote cite{display: block;color: #999; font-family: "Helvetica Neue", Helvetica, sans-serif; font-size: 14px; font-style: normal; text-align: center;}
article blockquote cite a{color: inherit; text-decoration: underline;}
article blockquote cite img{width: 60px; display: block; text-align: center; margin: 30px auto 15px; border-radius: 999em;}


article blockquote.left{margin: 0 0 30px;}
article blockquote.left p{text-align: left; max-width: 600px; font-size: 24px; line-height: 32px; margin: 0 0 12px;}
article blockquote.left cite{font-size: 14px; display: block; position: relative; padding:12px 0 40px 50px; text-align: left; max-width: 550px; margin: 15px  0;}
article blockquote.left cite img{width: 40px; height: 40px; border-radius: 999em; position: absolute; top:0; left: 0; margin: 0;}

article blockquote.left.tight cite{padding-bottom: 0;}

p:after,
.projects:after{display: block; clear: both; content: '';}

.project{display: block; float: left; width: 25%; color: #999; font-family: "Helvetica Neue", Helvetica, sans-serif; font-size: 14px; text-align: center; padding: 15px 0; line-height: 18px; cursor: pointer;}
.project strong{color: #232125;}
.project img{max-width: 80%;display: block; margin: 0 auto 10px;}
.project .project:hover{color: #009f70; text-decoration: none;}

.projects.fa {padding:15px 0 0 150px; position: relative; min-height: 150px; max-width: 650px; margin-top: 20px;}
.projects.fa .project{position: absolute; top:0; left: 0; width: 130px;}
.projects.fa .project img{max-width: 100%;}

.clear{display: block; clear:both;}

/* .topic_trio{ margin: 40px -10%; border:1px solid #ddd; } */
.topic_trio .topic{width: 31.3%; display: block; text-decoration: none; text-align: center; float: left; padding: 1px 20px; margin: 0 1%; height: 320px; border-radius: 5px; cursor: pointer; background:#fff;}
.topic_trio .topic p{font-size: 17px; line-height: 20px; color: #929195; height: 60px;}
.topic_trio .topic .ss-down{font-size: 24px; color: #ccc; display: block; padding-bottom: 15px}

.topic_trio .topic h3 i{display: block; font-size: 48px; padding: 15px 0;}

.topic_trio .topic:hover h3,
.topic_trio .topic:hover p,
.topic_trio .topic:hover i{color: #fff !important;}


/* Purpose */
.topic_trio .topic.purpose{border-color: #e809db;}
.topic_trio .topic.purpose h3,
h3.purpose{color: #e809db;}
.topic_trio .topic.purpose:hover{background: #e809db;}

.full.purpose h2,
.full.purpose h3,
.keydesc.purpose h3{color: #e809db;}

article.purpose .keydesc .panel,
.keydesc.purpose .panel{background: #eebdeb;}
article.purpose .keydesc .panel:hover,
.keydesc.purpose .panel:hover{background: #e809db;}


/* digital */
.topic_trio .topic.digital{border-color: #139ddd;}
.topic_trio .topic.digital h3,
h3.digital{color: #139ddd;}
.topic_trio .topic.digital:hover{background: #139ddd;}

.full.digital h2,
.full.digital h3,
.keydesc.digital h3{color: #139ddd;}

article.digital .keydesc .panel,
.keydesc.digital .panel{background: #bfe0ef;}
article.digital .keydesc .panel:hover,
.keydesc.digital .panel:hover{background: #139ddd;}

/* gsd */
.topic_trio .topic.gsd{border-color: #e4320e;}
.topic_trio .topic.gsd h3,
h3.gsd{color: #e4320e;}
.topic_trio .topic.gsd:hover{background: #e4320e;}

.full.gsd h2,
.full.gsd h3,
.keydesc.gsd h3{color: #e4320e;}

article.gsd .keydesc .panel,
.keydesc.gsd .panel{background: #f0c8c0;}
article.gsd .keydesc .panel:hover,
.keydesc.gsd .panel:hover{background: #e4320e;}

/* full buttons are grey coloured */
.full .btn-back,
.full .btn-next,
.full .btn-home{color: #555459;}


#home p{max-width: 460px;}


/* for topics */
article dl.detail dt,
article dl.detail dd{font-size: 18px;}
article dl.detail dd {font-style: italic;}
article dl.detail dd strong {font-style: normal;}
article dd.detail strong{display: inline-block;width: 80px;}




.biopic{display: block; height: 200px; float: left; margin:0 30px 30px 0; border-radius: 5px; background: #232125; position: relative;}
.biopic img{max-height: 100%; border-radius: 5px;}
.biopic i{visibility: hidden; font-size: 40px; position: absolute; top:50%; left: 50%; margin: -20px 0 0 -20px; color: #fff;}
.biopic:hover img{opacity: 0.3;}
.biopic:hover i{visibility: visible;}

.introface{position: relative; padding: 0 0 0 120px;  margin-top: 50px;}
.introface img{position: absolute; top:-5px; left: 0; width: 100px; height: 100px; border-radius: 3px;}


article#home{border-bottom: none; padding-top: 12%}
/*
article#home p a{border-bottom: 2px solid #009f70;text-decoration: none;}
article#home p a:hover{border-bottom: none;}
*/

/*
body.nope a{color: #e02d20;}
a.nope:hover {border-bottom: 2px solid #e02d20; text-decoration: none;}
*/


/*
This stuff is for the new speaker bit that Jason helped with.
This gon be one glittery, pretty Trojan horse.
*/

.header{text-align: center; padding: 30px 0}
.header h2,
.header p{margin-left: auto; margin-right: auto;}
.header h2 img{padding-bottom: 15px; text-align: center; clear: both; display: block; margin: 0 auto;}


article.full{margin-left: 0;}
article.full section{max-width: 900px; margin: 0 auto;}
article.full h2{max-width: none;}

.keydesc{padding-left: 220px; margin: 50px 0 ; position: relative;}
.keydesc h3{padding-top: 0;}

.keydesc .panel{position: absolute; top:0; left: 0; width: 190px; text-align: center; height: 100%; background: #a4e4d1; position: absolute; text-decoration: none; display: block;}
.keydesc .panel i{font-size: 80px; position: absolute; top:40px; left:0; width:100%; text-align: center; color: #fff;}
.keydesc .panel strong,
.keydesc .panel em{position: absolute; bottom: 0; left: 0; width: 100%; display: block; font-size: 22px; line-height: 28px; color: #fff; font-weight: 200; padding-bottom: 20px; font-style: normal;}

.keydesc .panel em{display: none;}

.keydesc .panel:hover{background: #009f70;}
.keydesc .panel:hover strong{display: none;}
.keydesc .panel:hover em{display: block;}


#contact{padding-bottom: 500px;}

hr{border: none;}


.sm{display: none;}

@media (min-width: 1000px){
	.xs{display: none;}
	.sm{display: inline;}	
	aside p a{margin: 0 5px}
}

@media (max-width: 1000px){

	article h2 br,
	article h3 br,
	article h4 br{display: none;}

	aside{width: 25%;}
	article{margin-left: 25%; padding: 30px 8%;}
	.btn-home{top:10px;}
	article blockquote {margin: 0 -5%;}
	article blockquote.left{margin: 0;}
	
	article nav	{margin-left: 0; padding-left: 0;}
	
	article h2 {font-size: 48px;}
	article h3,
	article blockquote p {font-size: 32px; line-height: 36px;}	
	article blockquote{margin: 10px 0 0;}
	article blockquote p{text-align: left;}
	article blockquote cite{text-align: left; position: relative; font-size: 16px; padding: 10px 0 40px 55px;} 	
	article blockquote cite img{position: absolute; top:0; left: 0; width: 40px; margin: 0;}
	article blockquote p .lquo{position: absolute; top:0; left: -10px;}	
	article blockquote.left p .lquo{left: -8px;}
	article blockquote p br{display: none;}
	
	.projects a{width: 50%;}
	
	article.full{padding-left: 10px; padding-right: 10px;}
	
	.btn-back,
	.btn-next{font-size: 17px;}
	.btn-back{margin-left: 10px;}
	.btn-next{margin-right: 10px;}
	
	.keydesc{padding-left: 140px;}
	.keydesc .panel{width: 120px;}
	.keydesc .panel i{font-size: 50px;}
	.keydesc .panel strong{font-size: 17px;}
	
}


/* man I get so sick of all this sometimes. */
/* Glittering up the trojan horse is exhausting. */
article.humble{margin: 0 auto;}


@media (max-width: 600px){
	aside{position: relative; bottom: auto; width: auto; height: 350px;}
	aside p{background: rgba(0,0,0,0.5); left: auto; display: none;}
	article{width: auto; padding: 10px 15px 20px; margin: 0;}
	article.fullheight{min-height: auto;}
	
	article#home{padding-top: 30px; padding-bottom: 50px;}	
	
	.keydesc{padding-left: 60px;}
	.keydesc .panel{width: 45px;}
	.keydesc .panel i{font-size: 30px; top:12px;}
	.keydesc .panel strong{display: none;}	
	
	.topic_trio .topic p{height: auto;}
	.topic_trio .topic{float: none; width:auto;margin-bottom: 15px; height: auto;}	
	
	.projects.fa {padding-left: 50px;}
	.projects.fa .project{width: 40px; top:20px;}
}


aside.teaching{background-image: url(../images/aside/teaching.jpg);}
aside.laff{background-image: url(../images/aside/laff.jpg);}
aside.wood{background-image: url(../images/aside/stacked_wood.jpg);}
aside.optimus{background-image: url(../images/aside/transformerbutton.gif);}
aside.yeah{background-image: url(../images/aside/yeah.gif);}
aside.cash{background-image: url(../images/aside/cash.gif);}
aside.woah{background-image: url(../images/willdayble/woah.gif);}
aside.smirk{background-image: url(../images/aside/smirk.jpg);}
aside.inoffensive{background-image: url(../images/backgrzounds/clouds.jpg);}
aside.contact{background-image: url(../images/aside/phone.gif);}
aside.kitty{background-image: url(../images/aside/cat.gif);}
aside.leo{background-image: url(../images/aside/sadleo.gif);}

.footer{height: 300px; position: relative; overflow: hidden; z-index: 200;}
.footer img{position: absolute; top:0; left: 0; right: 0; z-index: 250; min-width: 100%;}
.footer:after{display: block; content: ''; background: rgba(0,0,0,0.1); position: absolute; top:0; left: 0; right: 0; bottom: 0; z-index: 300;}

.footer .btn{display: block; position: absolute; top:50%; left: 50%; margin: -25px 0 0 -75px; z-index: 350; color: #fff;}

@media (min-width: 601px){
	.footer{display: none;}
}


.supersecure{position: fixed; top:0; left: 0; right:0; bottom: 0; padding: 30vh 20px; z-index: 99999; background: #fff; height: 100%;}
.supersecure form{text-align: center; width: 400px; margin: 0 auto;}
.supersecure form input,
.supersecure form button{border: 1px solid #ddd; background: #fff; display: block; margin: 0 0 10px; font-size: 21px; padding: 5px; width: 100%; border-radius: 4px;}
.supersecure form button{background: #009f70; border-color: #009f70; color: #fff; display: block;}