/*
	Will Dayble designs on internets and doesn't afraid of anything
*/

.bound{z-index: 50}
.arrows{z-index: 100;}
.content{z-index: 200;}
.kontakt{z-index: 300}


html, body{background: #c52239; font-weight: 200; font-family: "Helvetica Neue", Helvetica, serif; padding: 0;}
a:focus{outline: none;}
img{max-width: 100%}


h1{position: absolute; top:10%; left: 30px; font-weight: 100; color: #fff; font-size: 38px; padding-left: 50px;}
h1 .boundy{width: 30px; height: 50px; position: absolute; top:4px; left: 0;}
h1 .ss-rows{font-size: 28px; color: #fff; opacity: 0.3; position: absolute; top:0; left: 0;}
h1 .where_we_at{overflow: hidden; width: 0; }

h1 a{color: #ccf5ff; cursor: pointer;}
h1 a:hover{text-decoration: none; color: #fff;}

h1.active a .ss-rows,
h1 a:hover .ss-rows{margin-left: 3px; opacity: 0.4;}

h1 .menu{display: block; padding:20px 0; margin-left: -10px;}
h1 .menu a{display: block; font-size: 18px; line-height: 24px; padding: 5px 10px; font-weight: 200;}
h1 .menu a:hover{margin-left: 6px;}
h1 .menu a.active{margin-left: 6px; color: #fff;}

/* now the modes */
h1 .menu{display: none;}
h1.active a{color: #fff;}
h1.active a:hover{color: #ccf5ff;}
h1.active .menu{display: block;}


.bound{height: 100%; width: 100%; position: absolute; top: 0; left: 0; min-height: 600px; min-width: 900px}


.circle{border-radius: 99999em; width: 420px; height: 420px; position: absolute; top: 50%; left: 45%; margin: -210px 0 0 -210px;}


.circle .arrows{width: 600px; height: 600px; position: absolute; top:0; left: 0; }
.circle .arrows{margin: -110px 0 0 -60px;}
.circle .arrow{position: absolute; top:0; right: 0px; text-decoration: none; display: block; width: 80px; height: 80px; border: 2px solid #78e8dd; border-bottom: none; border-left: none;}
.circle .arrow_prev{bottom:0; right: 0; left: 0; top:100%; border: 2px solid #78e8dd; border-right: none; border-top: none;}

.circle .arrow.off,
.circle .arrow.off:hover{border-right-color: #cf616c; border-top-color: #cf616c; cursor: default;}

.circle .arrow_prev.off,
.circle .arrow_prev.off:hover{border-left-color: #cf616c; border-bottom-color: #cf616c; cursor: default;}


/* rotate this baby */
.circle .arrows{
	-webkit-transform:rotate(15deg);
	-moz-transform:rotate(15deg);
}

.circle .arrows{
	 -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;
/*
	-webkit-transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
*/
}

.circle .arrows:hover{
	-webkit-transform:rotate(16deg);
	-moz-transform:rotate(16deg);
}



.circle .arrow:hover{border-color: #fff}


/* some transforms: */
h1,
h1 .menu a,
h1 a .ss-rows,
.circle .arrow,
.circle .tab,
.btn,
.btn-icon i,
.kontakt a,
.circle .dude .zing{-webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s;}





/* some content  */

.content {position: relative;}

.content #about{background: #e2e2e2; border-radius: 9999em;}
.content .about{font-size: 22px; line-height: 38px; text-align: center; color: #434343; font-weight: 100; letter-spacing: 1px; padding: 140px 40px 0;}
.content .about hr{border-top-color: transparent; border-bottom-color: #bbb;}

.content .about em{border-bottom: 1px solid #555; font-style: normal;}
.content .about cite{display: block; font-size: 12px; font-weight: 300; color: #999;}
.content .about cite a{color: #999;}
.content .about cite a:hover{color: #666;}


.content .dude{position: relative;}
.content .dude img{max-width: auto;}
.content .dude .zing{position: absolute; top: 150px; left: 100%; margin-left: 60px; width: 300px}
.content .dude .zing h3{font-size: 36px; color: #78e8dd; font-weight: 100; padding-bottom: 10px; margin: 0;}
.content .dude .zing p{color: #fff; font-size: 18px; line-height: 30px;} 
.content .dude .zing p a{color: #fff; border-bottom: 1px solid rgba(255,255,255,0.2); text-decoration: none;}
.content .dude .zing p a:hover{border-bottom: 1px solid rgba(255,255,255,0.5);}
.content .dude .zing .btn{margin-top: 10px;}

.speaking .dude .hero{border-radius: 99999em; background: #e2e2e2; width: 420px; height: 420px; position: relative; display: block; text-decoration: none;}
.speaking .dude .hero .ss-chat{color: #777;font-size: 180px; line-height: 100%; position: absolute; top:50%; left: 50%; margin: -65px 0 0 -85px;}
.speaking .dude .hero:hover{background: #fff}
.speaking .dude .hero:hover .ss-chat{color: #09f;}

.contact .dude .hero{border-radius: 99999em; background: #e2e2e2; width: 420px; height: 420px; position: relative; display: block; text-decoration: none;}
.contact .dude .hero .ss-mail{color: #777;font-size: 180px; line-height: 100%; position: absolute; top:50%; left: 50%; margin: -65px 0 0 -85px;}
.contact .dude .hero:hover{background: #fff}
.contact .dude .hero:hover .ss-mail{color: #09f;}




/* tab activiteee */
/* ------------------------------------------------------------------------------- */
.content .tab{opacity: 0; top: 10px; position: absolute;  left: 0; width: 420px; height: 420px; z-index: 100;}
.content .tab .dude .zing{top: 200px;}


.content .tab.previously{top: -15px;}
.content .tab.previously .dude .zing{top: -400px;}

.content .tab.upcoming{top: 15px;}
.content .tab.upcoming .dude .zing{top: 200px;}

.content .tab.active{opacity:1; top: 0; z-index: 200}
.content .tab.active .dude .zing{top: 150px;}


.btn{box-shadow: none; background: #fff; border: none; color: #333; background-image: none; text-shadow: 0 1px 0 #fff; padding: 10px 15px; font-size: 17px; color: #444; border-radius: 5px; display: inline-block;}
.content .dude .zing p .btn{color: #444; margin-right: 5px;}
.btn-icon{position: relative; padding-left: 42px;}
.btn-icon i{position: absolute; top:12px; left: 15px; color: #666;}

.btn:hover{opacity: 1; color: #000; background: #fff; box-shadow: 0px 0px 40px rgba(255,255,255,0.5);}
.btn-icon:hover i{color: #444}



.kontakt{position: fixed; bottom: 20px; right: 20px;}
.kontakt a{font-size: 18px; color: #d56873; margin-right: 10px; text-decoration: none; font-weight: 200;}
.kontakt a:hover{color: #fff;}


@media (max-width: 1050px) {

	h1{top: 30px;}

	.circle,
	.speaking .dude .hero,
	.content .tab,
	.contact .dude .hero{width: 220px; height: 220px}
	.content .tab.active .dude .zing{top: 50px}

	.circle .arrows{margin: -180px 0 0 -80px; height: 500px;}
	
	.content #about{background: none;}
	.content .about{padding: 0; color: #fff; width: 450px}
	.content .about em{border-bottom-color: #fff;}
	.content .about cite a{color: #fff;}
	

}

@media (max-width: 780px) {

	.circle{left: 35%;}
	.circle .arrows{margin: -180px 0 0 20px; width: 450px;
		-webkit-transform:rotate(19deg);
		-moz-transform:rotate(19deg);
	}
	.circle .arrow{height: 40px; width: 40px;}

}


@media (max-width: 680px) {


	h1,
	h1 .menu a,
	h1 a .ss-rows,
	.circle .arrow,
	.circle .tab,
	.btn,
	.btn-icon i,
	.circle .dude .zing{-webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none;}
	
	html,body{width: auto; height: auto;}
	body{overflow-y: auto}

	.circle .arrows{display: none;}
	.circle{top:auto; left: auto; margin: 180px 30px 0;}

	.circle .tab{position: relative; top:auto; left: auto; opacity: 1; margin-bottom: 80px;}
	.content .dude .zing,
	.content .tab .dude .zing,
	.content .tab.previously .dude .zing,
	.content .tab.upcoming .dude .zing{margin-left: 40px; top:50px;}
	#about{display: none;}
	
	.speaking .dude .hero .ss-chat,
	.contact .dude .hero .ss-mail{font-size: 100px; margin: -36px 0 0 -49px;}
	
	.bound{min-width: 0;}
	
	.circle{margin: 30px 30px 0;}	
	
	.kontakt{display: none;}
	h1{display: none;}


	
/*
too many breaks
}
@media (max-width: 680px) {
*/


	.kontakt{position: relative;  padding: 30px 4px 30px; display: block; text-align: center; bottom: auto; right: auto;}
	.kontakt a{font-size: 26px; line-height: 120%;}
	h1{display: none;}


	html, body{height: 100%}

	.bound{top:auto; width: auto; left: auto; height: auto; position: relative;}

	h1{position: relative; left: 10px;}
	
	.content .tab{padding: 30px 0; margin: 0;}
	.content .tab:nth-child(even){background: rgba(0,0,0,0.1); padding: 20px 40px; margin: 0 -20px;}
	.content .dude{width: auto;}
	
	.circle,
	.speaking .dude .hero,
	.content .tab,
	.content .tab.previously,
	.content .tab.upcoming,
	.contact .dude .hero{width: auto; height: auto; text-align: center; position: relative; top: auto; }

	.circle{margin: 0px 20px 0;}
	
	
	.content .tab .dude .zing,
	.content .tab.previously .dude .zing,
	.content .tab.upcoming .dude .zing{position: relative; top:auto; left: auto; text-align: center; width: auto; margin: 0 0 30px;}
	
	.content .dude .zing h3{margin: 30px 0 0; line-height: 48px;}
	
	.content .dude img{max-width: 100%;}

}
