/* LOL HAX for willdayble.com */

header .logo{margin-left: -10px;}

.landing h3,
.landing p{text-align: center;}

@media (max-width: 767px){
	.landing {padding-top:70px;}
}



.fill.fya{background-image: url(../images/willdayble/youtube-screenie.jpg)}

.fill.disrupt{background-image: url(../images/willdayble/disrupt_leader.jpg); border-top: 1px solid #000;}
.fill.disrupt .btn{background: #fff; color: #000; border: 2px solid rgba(0,0,0,0.2);}
.fill.disrupt .btn i{top:25px;}
.fill.disrupt .btn em{display: block; font-size: 16px; color: #8a9085; padding: 5px 0 0}
.fill.disrupt .btn:hover,
.fill.disrupt .btn:focus{}

.projects{background: #f8f8f6}


.tfol{}
.tfol img{max-width: 140px;}


.feat a{display: block; width: 33.333%; float: left; position: relative; background: #000;}
.feat a img{width: 100%;}
.feat a i{font-size: 100px; color: #fff; position: absolute; top:50%; left: 50%; margin: -50px 0 0 -50px; opacity: 0.3;}
.feat a:hover img{opacity: 0.5}
.feat a:hover i{opacity: 1}