/*

Wow this is old school, all plain CSS! :o

dark
232125

light
555459

pink
e021c3

red
e11b1b

*/

@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,600);

body{font-family: 'Crimson Text', serif; color: #232125;}
a{text-decoration: none; color: #e11b1b}
a:hover,
a:focus{text-decoration: underline;}

strong{font-weight: 600;}

.btn{font-size: 21px; color: #e11b1b; position: relative; padding: 5px 20px; display: inline-block; margin-left: -20px;}
.btn i{position: absolute; top:9px; right: -10px;}
.btn:hover{color: #232125; text-decoration: underline;}
.btn:hover i{text-decoration: none;}

.btn-back{margin: 0 0 0 -20px;}
.btn-back i{right: auto; left: -10px;}

.btn-icon{padding-left: 40px; margin: 0;}
.btn-icon i{right: auto; left: 0px;}

.btn-next{float: right;}

/* aside */
aside{width: 33%; background: #232125 url(../images/aside/lobo-square.jpg) 50% 50% no-repeat; background-size: cover; position: fixed; top:0; left: 0; bottom: 0;}
aside p{ position: absolute; bottom: 0; left: 0; right: 0; text-align: center; margin: 0;}
aside p a{font-size: 14px; display: inline-block; padding: 10px; color: #ccc; padding: 10px 20px;}
aside p a:hover{background: rgba(0,0,0,0.5);}


/* main event */
article{margin-left: 33%; padding: 80px 10%; border-bottom: 1px solid #eee;}
article.alt{background: #f0f4f5}
article h2,
article h3{font-size: 54px; font-weight: normal; margin: 0; padding: 36px 0 0;}
article h3{font-size: 36px;}
article p,
article dl{font-size: 19px; color: #555459; line-height: 24px; max-width: 600px;}


article dt,
article dd{padding: 9px 0;}
article dt{float: left; color: #aaa;}
article dd{padding-left: 40px; border-bottom: 2px solid #eee; margin-left: -1px;}


article blockquote {margin: 0 -10% 30px;}
article blockquote p{font-size: 42px; line-height: 60px; font-style: italic; position: relative; text-align: center; max-width: none;}
article blockquote cite{display: block;color: #999; font-family: "Helvetica Neue", Helvetica, sans-serif; font-size: 19px; font-style: normal; text-align: center;}
article blockquote cite a{color: inherit;}
article blockquote cite img{width: 60px; display: block; text-align: center; margin: 30px auto 15px;}



.projects a{display: block; float: left; width: 33%; color: #ccc; font-family: "Helvetica Neue", Helvetica, sans-serif; font-size: 14px; text-align: center; padding: 40px 0;}
.projects a img{max-width: 90%;display: block; margin: 0 auto 15px;}
p:after,
.projects:after{display: block; clear: both; content: '';}
.projects a:hover{color: #e11b1b;}


.biopic{display: block; height: 200px; float: left; margin:0 30px 30px 0; border-radius: 5px; background: #232125; position: relative;}
.biopic img{max-height: 100%; border-radius: 5px;}
.biopic i{visibility: hidden; font-size: 40px; position: absolute; top:50%; left: 50%; margin: -20px 0 0 -20px; color: #fff;}
.biopic:hover img{opacity: 0.3;}
.biopic:hover i{visibility: visible;}


#contact{padding-bottom: 500px;}


@media (max-width: 1000px){
	aside{width: 25%;}
	article{margin-left: 25%; padding: 30px 8%;}
	article blockquote {margin: 0 -5%;}
	
	article h2 {font-size: 48px;}
	article h3,
	article blockquote p {font-size: 32px; line-height: 48px;}	
	article blockquote{margin: 0;}
	article blockquote p{text-align: left;}
	article blockquote cite{text-align: left; position: relative; font-size: 16px; padding: 10px 0 40px 55px;} 	
	article blockquote cite img{position: absolute; top:0; left: 0; width: 40px; margin: 0;}
	article blockquote p .lquo{position: absolute; top:0; left: -15px;}	
	
	.projects a{width: 50%;}
}

@media (max-width: 600px){
	aside{position: relative; bottom: auto; width: auto; height: 350px;}
	aside p{background: rgba(0,0,0,0.5); left: auto;}
	article{width: auto; padding: 10px 40px; margin: 0;}
	.projects a{width: 80%; float: none;}
}